
.white-square {
            width: 400px;
            height: 400px;
            background-color: white;
            border: 1px solid black;
            display: flex;
            flex-direction: column; 
            gap: 40px; 
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            gap: 20px;
            margin-top: 10px;
        }

        .blue {
            width: 80px;
            height: 80px;
            background-color: navy;
        }

        .blue-rect {
            width: 80px;
            height: 160px;
            background-color: navy;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .yellow-square {
            float: left;
            width: 100px;
            height: 100px;
            background: #fd0;
            border: 1px solid black;

        }

        .text-content {
            font-size: 16px;
            line-height: 1.5;
            
        }


        .red-square {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
        }
      